<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mind.miniomultipartspringstarter.mapper.SysFileRecordMapper">
    
    <resultMap type="top.mind.miniomultipartspringstarter.domain.SysFileRecord" id="SysFileRecordResult">
        <result property="id"    column="id"    />
        <result property="fileUrls"    column="file_urls"    />
        <result property="fileName"    column="file_name"    />
        <result property="md5"    column="md5"    />
        <result property="uploadId"    column="upload_id"    />
        <result property="isUploaded"    column="is_uploaded"    />
        <result property="totalChunks"    column="total_chunks"    />
        <result property="size"    column="size"    />
        <result property="completedParts"    column="completed_parts"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="bucket"    column="bucket"    />
        <result property="chunkResult"    column="chunk_result"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectSysFileRecordVo">
        select id, file_urls, file_name, md5, upload_id, is_uploaded, total_chunks, size, completed_parts, create_by, create_time, update_by, update_time, remark, file_url, bucket, chunk_result, version from sys_file_record
    </sql>

    <select id="selectSysFileRecordList" parameterType="top.mind.miniomultipartspringstarter.domain.SysFileRecord" resultMap="SysFileRecordResult">
        <include refid="selectSysFileRecordVo"/>
        <where>  
            <if test="fileUrls != null  and fileUrls != ''"> and file_urls = #{fileUrls}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="md5 != null  and md5 != ''"> and md5 = #{md5}</if>
            <if test="uploadId != null  and uploadId != ''"> and upload_id = #{uploadId}</if>
            <if test="isUploaded != null "> and is_uploaded = #{isUploaded}</if>
            <if test="totalChunks != null "> and total_chunks = #{totalChunks}</if>
            <if test="size != null "> and size = #{size}</if>
            <if test="completedParts != null "> and completed_parts = #{completedParts}</if>
            <if test="fileUrl != null and fileUrl != ''"> and file_url = #{fileUrl}</if>
            <if test="bucket != null and bucket != ''"> and bucket = #{bucket}</if>
            <if test="chunkResult != null and chunkResult != ''"> and chunk_result = #{chunkResult}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectSysFileRecordById" parameterType="Long" resultMap="SysFileRecordResult">
        <include refid="selectSysFileRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysFileRecord" parameterType="top.mind.miniomultipartspringstarter.domain.SysFileRecord">
        insert into sys_file_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="fileUrls != null">file_urls,</if>
            <if test="fileName != null">file_name,</if>
            <if test="md5 != null">md5,</if>
            <if test="uploadId != null">upload_id,</if>
            <if test="isUploaded != null">is_uploaded,</if>
            <if test="totalChunks != null">total_chunks,</if>
            <if test="size != null">size,</if>
            <if test="completedParts != null">completed_parts,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="bucket != null">bucket,</if>
            <if test="chunkResult != null"> chunk_result,</if>
            <if test="version != null ">version</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="fileUrls != null">#{fileUrls},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="md5 != null">#{md5},</if>
            <if test="uploadId != null">#{uploadId},</if>
            <if test="isUploaded != null">#{isUploaded},</if>
            <if test="totalChunks != null">#{totalChunks},</if>
            <if test="size != null">#{size},</if>
            <if test="completedParts != null">#{completedParts},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="fileUrl != null"> #{fileUrl},</if>
            <if test="bucket != null"> #{bucket},</if>
            <if test="chunkResult != null">#{chunkResult},</if>
            <if test="version != null ">#{version},</if>
         </trim>
    </insert>

    <update id="updateSysFileRecord" parameterType="top.mind.miniomultipartspringstarter.domain.SysFileRecord">
        update sys_file_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileUrls != null">file_urls = #{fileUrls},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="md5 != null">md5 = #{md5},</if>
            <if test="uploadId != null">upload_id = #{uploadId},</if>
            <if test="isUploaded != null">is_uploaded = #{isUploaded},</if>
            <if test="totalChunks != null">total_chunks = #{totalChunks},</if>
            <if test="size != null">size = #{size},</if>
            <if test="completedParts != null">completed_parts = #{completedParts},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="fileUrl != null"> file_url = #{fileUrl},</if>
            <if test="bucket != null"> bucket = #{bucket},</if>
            <if test="chunkResult != null"> chunk_result = #{chunkResult},</if>
            <if test="version != null ">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysFileRecordById" parameterType="Long">
        delete from sys_file_record where id = #{id}
    </delete>

    <delete id="deleteSysFileRecordByIds" parameterType="String">
        delete from sys_file_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByMd5" resultMap="SysFileRecordResult">
        <include refid="selectSysFileRecordVo"/>
        where
            md5 = #{fileMd5}
        limit 1
    </select>

    <update id="updateSysFileRecordByUploadId">
        update sys_file_record
        set completed_parts = #{completedPartCount},
            is_uploaded = #{isUploaded},
            update_by = #{createBy},
            update_time = SYSDATE()
        where
            upload_id = #{uploadId}
            and is_uploaded = 0
    </update>
</mapper>